* {
    box-sizing: border-box;
    padding: 20px;
  }
  
   body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: "B612", sans-serif;
    background-color: #532a7f;
    color: black;
    font-size: 16px;
  }

  p{
    color: burlywood;
    width: 100%;
    padding-top: 1em;
    font-size: 1em;
    text-align: center;
    font-family: "Archivo", sans-serif;

  }